*{
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style-type: none;
}
html{
    scroll-behavior: smooth;
}

body{
    background-color: lightseagreen;
}
.menu{
    text-align: center;
}
.menu ul li{
    line-height: 1.5;
}
    
    img{
        width: 20%;
    }

    figure{
        text-align: center;
    }

    .container{
        width: 80%;
margin: auto;
    }

    h1,h2{
        text-align: center;
        padding: 1%;
    }
    p{
        font-family: 'Inconsolata', monospace;
        font-size: 1.4rem;
        line-height: 1.5;
    }
    iframe{
        text-align: center;
    }

    .video {
        text-align: center;
        width: 50%;
        float: left;
        margin-bottom: 2%;
    }

    footer{
        clear: both;
        background-color: rgba(72,61,139,0.5);
        padding: 2%;
    }
    footer p{
        text-align: center;
    }
    header{
        background-color: rgba(72,61,139,0.5);
        padding: 1%;
    }

    /* unvisited link */
a:link {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bolder;
    font-family: 'Inconsolata', monospace;
    font-size: 1.4rem;
  }
  
  /* visited link */
  a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bolder;
    font-family: 'Inconsolata', monospace;
    font-size: 1.4rem;
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(105, 225, 255);
    background-color: rgb(7, 7, 136); 
    padding: 0.4%;
    border-radius: 25px;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }

  .ani{
margin-top: 2%;
    width: 300px;
    height: 800px;
    margin-bottom: 2%;
    background-color: cadetblue;
    transition: width 2s;
  }

  .ani:hover{
    width: 800px;
  }